.dropdown {
  position: relative;
  display: inline-block;
  width: 150px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  user-select: none;

  &:hover {
    background-color: #e0e0e0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  li {
    padding: 10px;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
}
